name: Dependabot Auto Merge
on: pull_request

# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions
jobs:
  merge:
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Fetch Dependabot metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@v2.5.0
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
      - name: Approve Dependabot Github Action PRs
        if: ${{ steps.dependabot-metadata.outputs.package-ecosystem == 'github_actions' && steps.dependabot-metadata.outputs.update-type != 'version-update:semver-major' }}
        run: |
          gh pr edit "$PR_URL" -t "(auto merged) $PR_TITLE"
          gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          PR_TITLE: ${{ github.event.pull_request.title }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Approve Dependabot Cargo patch PRs
        if: ${{ steps.dependabot-metadata.outputs.package-ecosystem == 'cargo' && steps.dependabot-metadata.outputs.update-type == 'version-update:semver-patch' }}
        run: |
          gh pr edit "$PR_URL" -t "(auto merged) $PR_TITLE"
          gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          PR_TITLE: ${{ github.event.pull_request.title }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}